.buttonClass{
    width: 50px;
    height: 30px;
}

body{
    text-align:justify;
}

#divMusics span {

    border-radius: 20px;
    display: block;
    margin-bottom: 5px;


    box-sizing: border-box;
    padding: 5px;
    font-size: 15px;
    height: 30px;
    transition-duration: 500ms; 
}

#divMusics span:hover{
    color: solid, black;
    background-color: solid black;
    border: 2px solid black;
    border-radius: 20px;


    box-sizing: border-box;
    padding: 10px;
    height: 50px;
    font-size: 24px;
    transition-duration: 500ms;
}

span{
    text-align: center;
}
span:hover{
    text-align: center;
}

.spanClass{

    margin-left: 1em;
    margin-right: 1em;

}

#divMusics{
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#clean{
    border-color: transparent;
}

.buttonClass{
    font-size: 20px;
    transition-duration: 500ms;
    border-radius: 10px;
}
.buttonClass:hover{
    font-size: 30px;
    transition-duration: 500ms;
    border-radius: 50px;
    width: 65px;
    height: 45px;
}

div{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: solid, black;
    background-color: solid black;
    border: 2px solid black;
}